<html ng-app="appGeneric">
<head>
<title> Controllers </title>
<meta charset="UTF-8"/>
<script src="js/angular/angular.min.js">
</script>
<script src="js/app.module.js">
    </script>
<script src="js/AulaContro_Controller.js">
</script>
</head>
<body>
    
    <input type ="text" ng-model="nomeE">
    <div ng-controller="AulaControl_Controller">     
        
        
        
        <h1 ng-bind="nomeE"></h1>
        
       
        <span> Clica aqui <button ng-click="olaMundo('Marcos Antonio')"> Clique</button></span>
    
    </div>
</body>
</html>